*{
    margin: 0;
    padding: 0;
}
/*заготовки*/
.no-dec-link{
    text-decoration: none;
}

.black-color-link{
    color: black;
}

.no-list-style{
    list-style-type: none;
}

.wrapper-all-page{
    background: #bebfbf;
}

.all-page-content{
    background: url("../img/Background.png") no-repeat;
    background-size: 1020px 1438px;

}

/*ГОЛОВА*/
.header{
    width: 977px;
    height: 155px;
    background-image: url("../img/header.png");
}

.icons{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    padding-top: 34px;
}

.icon-home{
    margin-right: 10px;
}

.date-in-head{
    float: right;
    background: white;
    color: #d02525;
    width: 140px;
    height: 23px;
    text-align: center;
    white-space: nowrap;
    line-height: 23px;
    margin-top: 57px;
    margin-right: 25px;
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
    font-weight: bold;
}

/*ОСНОВНАЯ ЧАСТЬ*/
.main{
    display: flex;
    width: 959px;
    height: 1150px;
    margin: 30px 43px 0 18px;
}

/*левый блок*/
.left-main{
    width: 209px;
}

/*Левый-верхний блок*/
.left-top{
    text-align: right;
    padding-top: 45px;
    font-family: Tahoma,Arial,"Times New Roman";
    font-weight: normal;
    font-size: 12px;
    background: url("../img/top-left-menu.png") no-repeat;
    height: 368px;
    width: 212px;
}

.list-left-top{
    padding-right: 60px;
    line-height: 30px;
    cursor: pointer;
}

.list-left-top:hover{
    background: url("../img/marker.png") no-repeat 159px center;
}

.color-left-top{
    color: white;
}

/*левый центральный блок*/
.left-center{
    margin-top: 30px;
    background: url("../img/center-left-menu.png") no-repeat;
    width: 212px;
    height: 305px;
    text-align: right;
    padding-top: 55px;
    line-height: 27px;
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
}

.list-left-center{
    margin-right: 40px;
}

.color-left-center{
    color: #495e78;
}

/*левый последний блок*/
.left-bottom{
    background: url("../img/bottom-left-menu.png") no-repeat;
    height: 255px;
    width: 212px;
    text-align: right;
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
    margin-top: 35px;
    padding-top: 20px;
}

/*ЗАГОЛОВКИ*/
.list-left-bottom{
    margin-right: 40px;
}

/*ЦВЕТ ТЕКСТА*/
.color-address-tel-fax-email{
    color: #414042;
}

/*высота строки(межстрочный интервал)*/
.address-li{
    line-height: 17px;
}

.margin-top30{
    margin-top: 20px;
}

/*ЗАГОЛОВКИ*/
.caption-left-bottom{
    font-family: Tahoma, Arial, "Times New Roman";
    font-size: 11px;
    font-weight: bold;
    color: #d02525;
}

/*центральный блок*/
.center-main{
    width:430px;
    margin-left: 72px;
}

/*верхний блок в центре*/
.center-top{
    background: url("../img/center-background.png") no-repeat;
    width: 430px;
    height: 243px;
}

.caption-center-top{
    font-family: Tahoma,Arial,"Times New Roman" ;
    font-size: 14px;
    font-weight: bolder;
    color: #d02525;
    text-align: center;
    line-height: 45px;
}

.image-top{
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}

.text-center-top{
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
    margin-right: 20px;
    line-height: 15px;
}

/*остальной контент в центре*/
.wrapper-center-ul{
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
    color: #414042;
}

.center-color-links{
    color: #d02525;
}

.marker-center{
    list-style-image: url("../img/center-marker.png");
    margin-left: 15px;
    margin-top:5px;
}

.line-height10{
    line-height: 16px;
}

.caption-center-text{
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
    font-weight: bold;
    color: #d02525;
    margin-bottom: 15px;
    margin-top: 40px;
}

/*правый блок*/
.right-main{
    width: 214px;
    margin-left: 32px;
}

/*справа верхний блок*/
.right-top{
    background: url("../img/right-top.png") no-repeat;
    width: 218px;
    height:245px ;


}
.right-top-content{
    padding-left: 21px;
    padding-right: 21px;
}

.dec-dec-dec{
    text-decoration-color: #d02525;
}

.right-color-links{
    color: #d02525;
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
    font-weight: bold;
    margin-left: 6px;
    margin-left: 30px;
}

.right-top-picture{
    margin-top: 5px;
    margin-left: 20px;
}

/*справа нижний блок*/
.right-bottom{
    background: url("../img/right-bottom.png") no-repeat;
    width: 218px;
    height: 834px;
    font-size: 11px;
    font-family: Tahoma,Arial,"Times New Roman";
    margin-top: 25px;
}

.right-bottom-picture{
    margin-left: 21px;
    margin-top: 25px;
}

.right-bottom-text{
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 10px;
    line-height: 16px;
}

/*ПОДВАЛ*/
.footer{
    margin-top: 45px;
}

.copyright{
    float: left;
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
    color: #7c8688;
    margin-left: 30px;
}

.bottom-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Tahoma,Arial,"Times New Roman";
    font-size: 11px;
    margin-left: 300px;
}

.href-in-bottom-menu{
    color: #7c8688;
}

.list-in-bottom-menu:after{
    content: '|';
    color: #7c8688;
    padding-left: 4px;
    padding-right: 4px;
}

.list-in-bottom-menu:last-child:after{
    content: '';
}